
.page-header {
  position: absolute;
  top: 0;
  left: 0; right: 0;
  z-index: 2;
  ////////////////
  // Header Top //
  ////////////////
  .header-top {
    background-color: $color_black;
    font-family: $font_bold;
    font-size: $size_font_small;
    text-transform: uppercase;
    color: #999999;
    padding-top: 10px;
    padding-bottom: 10px;
    .navbar-toggler {
      height: 40px;
      color: $color_white;
    }
    .nav-item {
      margin-right: 25px;
      line-height: 40px;
      &:last-child {
        margin-right: unset;
      }
    }
    .dropdown-toggle:before {
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 5px;
    }
    .currency .dropdown-toggle:before {
      background-image: url('../img/icons/currency.png');
    }
    .language .dropdown-toggle:before {
      background-image: url('../img/icons/language.png');
    }
    // Distance
    .distance {
      &:before {
        content: 'km';
        display: inline-block;
      }
      &:after {
        content: 'mile';
        display: inline-block;
      }
      // Switch
      .switch {
        margin: 0 5px;
        position: relative;
        top: -1px;
        vertical-align: middle;
        input {
          display: none;
        }
        .slider {
          display: flex;
          align-items: center;
          width: 40px; height: 18px;
          cursor: pointer;
          background-color: #717171;
          border-radius: 35px;
          transition: .4s;
          -webkit-transition: .4s;
          &:before {
            content: '';
            display: block;
            width: 20px; height: 20px;
            border-radius: 50%;
            background-color: $color_white;
            transition: .4s;
            -webkit-transition: .4s;
          }
        }
        input:checked + .slider:before {
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);
        }
      } // End Switch
    } // End Distance

    // Social Links
    .social-links .fa {
      width: 30px;
      line-height: 28px;
      border: 1px solid #5c5c5c;
      text-align: center;
      margin-right: 5px;
      border-radius: 2px;
      &:last-child {
        margin-right: unset;
      }
      &:hover {
        background-color: $color_red;
        color: $color_white;
        border: unset;
      }
    } // End Social Links

    // Phone Link
    .phone-link {
      display: flex;
      align-items: center;
      padding: 0 35px;
      background-color: #3d3d3d;
      color: $color_white;
      margin-top: -10px; margin-bottom: -10px;
      padding-top: 10px; padding-bottom: 10px;
      a {
        display: flex;
        align-items: center;
      }
      a:before {
        content: '';
        background-image: url('../img/icons/phone.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;
      }
    } // End Phone Link

    // Sign In
    .sign-in {
      .dropdown-toggle:before {
        content: unset;
      }
      .form-login {
        right: 0;
        left: unset;
        width: 260px;
        &:before {
          right:0;
        }
        .log-in {
          padding: 25px;
          border-bottom: $border;
          .title {
            font-family: $font_title_bold;
            font-size: 16px;
            color: $color_black;
            margin-bottom: 10px;
          }
          .input-group {
            height: 35px;
            margin-bottom: 10px;
            .input-group-addon {
              color: #797979;
              line-height: 20px;
              background-color: $color_white;
              width: 33px;
            }
            .form-control {
              border-left: unset;
              padding-left: 2px;
              font-size: $size_font_small;
              font-family: $font_regular;
            }
          }
          .btn-login {
            width: 100%;
            height: 45px;
          }
        }
        .sign-up {
          padding: 25px;
          .sentence {
            color: $color_black;
            font-family: $font_regular;
            margin-bottom: 5px;
          }
          // Signup Button
          .btn-signup {
            width: 100%;
            height: 45px;
            color: $color_red;
            border: 1px solid $color_red;
            background-color: $color_white;
            &:hover {
              background-color: $color_red;
              color: $color_white;
            }
          }
        }
        .alert-message {
          font-family: $font_regular;
          color: $color_red;
          font-size: $size_font_small;
          margin-bottom: 12px;
        }
      }
    }
  } // End Header Top
  /////////////////
  // Header Menu //
  /////////////////
  .header-menu {
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, .1);
    font-family: 'Poppins';
    color: $color_black;
    margin: 0 -25px;
    padding: 32.5px 25px;
    background-color: $color_white;
    .dropdown-menu.show {
      margin-top: 34px;
    }
    // Navbar Header Section
    .navbar-header {
      // Navbar Brand with Site Logo and Title
      .navbar-brand {
        margin: 0;
        padding: 0;
        .site-logo {
          margin-right: 10px;
        }
        .site-title {
          display: inline-block;
          vertical-align: middle;
          font-family: 'Armata';
          line-height: .9;
          max-width: 150px;
          white-space: normal;
          color: $color_red;
          font-size: 30px;
          &:first-line {
            font-size: 24px;
            color: $color_black;
          }
        }
      } // End Navbar Brand
      // Sub Menu
      .sub-menu {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        .dropdown-menu {
          width: 200px;
          margin-top: 32px;
        }
        .dropdown-item {
          border-bottom: $border;
          padding: 15px 20px;
          &:last-child {
            border-bottom: unset;
          }
          img {
            position: relative;
            top: -2px;
            margin-right: 8px;
          }
        }
      }
    } // End Navbar Header
    // Nav Item
    .nav-item {
      margin-right: 30px;
      line-height: 50px;
      &:last-child {
        margin-right: unset;
      }
      &:hover {
        color: $color_red;
      }
      // Dropdown Menu
      .dropdown-menu {
        width: 200px;
        .dropdown-item {
          color: #8b8b8b;
          padding: 7px 25px;
          &:hover {
            color: $color_white;
          }
        }
      }
    }
    // Add Listing Button
    .btn-red {
      font-size: $size_font_small;
    }
    .search {
      color: $color_blue;
    }
  } // End Header Menu
}
